.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.1fr 0.9fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "inicio inicio inicio"
      "inicio inicio inicio"
      ". . ."
      ". . ."
      ". . ."
      ". . ."
      ". . .";
  }
  
  .header { grid-area: header; }
  
  .inicio { grid-area: inicio; }
  

.row justify-content-center{
    margin-top: 100px;
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #7fff84;

}
.navbar-toggler{
    background-color: white;
}
.navbar-brand{
    color: white;
}