/* identificador {propiedad: valor}*/

/*{border: 1px solid white;}*/

/*COMPUTADORA*/
    body{background-color: white;
    margin: 0px;
    }
    

    .container {  
        max-width: 100%;
        display: grid;
        padding: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: 
        "header header header"
        "carousel carousel carousel"
        "carousel carousel carousel"
        ". mision ."
        "googlemaps googlemaps googlemaps"
        ". ubicacion ."
        "cardpos1 cardpos2 cardpos3"
        ". comentarios ."
        ". footer ."; 
      }
      
      .header { grid-area: header; }
      
      .googlemaps { grid-area: googlemaps; }
      
      .ubicacion { grid-area: ubicacion; }

      .carousel { grid-area: carousel; }

      .cardpos1 {grid-area: cardpos1;}
      
      .cardpos2 {grid-area: cardpos2;}

      .cardpos3 {grid-area: cardpos3;}

      .mision {grid-area: mision;}
      
      .footer {grid-area: footer;}

      .comentarios{ grid-area: comentarios;}

    .container-fluid{
        background-color: #7fff84;
        height: 80px;  
    }

    .btn a{
        text-decoration: none;
        color:white
    }
    .botones_header{
        margin-inline-start: auto;
    }
    
    .googlemaps{
        display: flex;
        justify-content: center;
    }

    /* HEADER*/
    .btn{
        background-color: #7fff84; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        height: 100%;

    }
    .navbar-toggler{
        background-color: white;
    }

    .navbar{
        top: 0;
        background-color: #99ffa2;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    
    .navbar-brand{
        color:white
    }
    .navbar p{
        display: inline;
        margin-right: 1000px;
    }
    
    #Bloque_registro{
        display: flex;
        justify-content: space-between;
    }
    
    .titulo{
        font-family: 'Xanh Mono', monospace;
        color: white;
        font-size: 40px;
        margin-top: auto;
    }
    
    .parrafo-comun{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 3vw;
        background-color: blue;
    }
    /*UBICACION*/
    .ubicacion label{
        font-family:font-family, 'Roboto', sans-serif;
    }
    
    .ubicacion{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .ubicacion form{
        justify-content: center;
    }
    /*IMAGENES CAROUSEL*/
    
    .carousel-item img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%; 
        height: 50vw;
    } 
    .carousel{
        z-index: 0;
    }
    
    /*cartas*/

    .cardpos1, .cardpos2, .cardpos3{
        margin: 10px;
        margin-bottom:100px;
        
    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .card1{
        color: black;
        width: 100%;
        border: 2px black;
        
    }       
    .card2{
        color: black;
        width: 100%;

    }
    .card3{
        color: black;
        width: 100%;
    }

    .card-img-top{
        height: 400px;
    }

    .mision{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .header{
        position: sticky;
        z-index: 1;
    }

    /*FOOTER*/

    .footer{
        position: fixed;
        display: flex;
        justify-content: center;
        right: 20px;
        bottom: 20px;
        z-index: 20;
    }
    .insta img{
        border-radius: 50%;
    }
    .wpp img{
        border-radius: 50%;
    }


    /*COMENTARIOS*/
    .comentarios{
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .btn{
        height: 25%;
        margin-top: 10px;
    }

    /*celular*/

    /*--------------------------INICIAR SESION-------------------------------------------------*/

    
    
    
    
    @media only screen and (max-width: 991px) {
    
        
        .container {  
            max-width: 100%;
            display: grid;
            padding: 0px;
            grid-template-columns: 1fr 90% 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas: 
            "header header header"
            "carousel carousel carousel"
            "carousel carousel carousel"
            ". mision ."
            "googlemaps googlemaps googlemaps"
            ". ubicacion ."
            ". cardpos1 ."
            ". cardpos2 ."
            ". cardpos3 ."
            ". footer ."
            ".comentarios."; 
          }
          .header { grid-area: header; }
          
          .googlemaps { grid-area: googlemaps; }
          
          .ubicacion { grid-area: ubicacion; }
    
          .carousel { grid-area: carousel; }
    
          .card {grid-area: card;}

          .mision {grid-area: mision;}

          .footer {grid-area: footer;}
          
          .comentarios{ grid-area: comentarios;}
      
    
    .navbar{
        display: flex; 
        justify-content:end;
        width: 100%;
        
    }
    .container-fluid{
        background-color: #7fff84;
        height: 12vw;  
    }
    
    .contenedor-1{
        background-color: #00ff80;
    }

    .footer{
        position: fixed;
        display: flex;
        justify-content: center;
        right: 20px;
        bottom: 20px;
        z-index: 20;
    }
    .insta img{
        border-radius: 50%;
    }
    .wpp img{
        border-radius: 50%;
    }
}
      






  /*placeholder*/